<h1>Pets<h1>

<div>
  <div>
    <%= link_to 'All Pets', pets_path %> |
    <%= link_to 'Dogs', pets_path(pet_type: 'Dog') %> |
    <%= link_to 'Cats', pets_path(pet_type: 'Cat') %> |
    <%= link_to 'Birds', pets_path(pet_type: 'Bird') %>
  </div>

  <div class="cards">
    <% @pets.each do |pet| %>
      <div class="card-product">
        <img src=<%= pet.pet_image %>/>
        <div>
          <h2><%= pet.pet_name %></h2>
          <p> A <strong><%= pet.pet_breed %></strong> from <strong><%= pet.pet_region %></strong>.</p>
          <%= link_to 'See Details', pet_path(pet) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
