<div class = container>
  <h1>Pet Show page</h1>

<ul>
  <li><h2>Pet name:  <%= @pet.pet_name %></h2></li>
  <li><h2>Pet type: <%= @pet.pet_type %></h2></li>
  <li><h2>breed<%= @pet.pet_breed %></h2></li>
  <li><h2>about <%= @pet.pet_name %>: <%= @pet.pet_description %></h2></li>
  <li><h2>Pet region <%= @pet.pet_region %></h2></li>
  <li><h2>Image<%= @pet.pet_image %></h2></li>
</ul>
</div>

<h1>Booking form</h1>

<%= simple_form_for [@pet, @booking] do |f| %>
  <%= f.input :booking_startdate, as: :date, label: "Start Date", required: true %>
  <%= f.input :booking_enddate, as: :date, label: "End Date", required: true %>
  <div>
    <%= f.button :submit, "Confirm Booking", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Browse Pets", pets_path %>
